@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Sofia+Sans+Extra+Condensed&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color : black;
    margin : 0;
    padding : 0;
    height : 100vh;
}

.main-container-div {
    padding-left : 13%;
    padding-right : 13%;
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
    
}

.hero-img-div{
    height : 100vh;
    width : 35%;
    background-image : url(./azaz-merchant-X2gaT-eCc5s-unsplash.jpg);
    background-size :cover;
}

.hero-img-div img{
    height : 17vh;
    width : 8vw;
    
}

.form-container-div {
    width : 60%;
    height : 100vh;
    border : 1px solid red;
}

.logo-div {
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
    margin-top : 40%;
    color : white;
    font-family : Arial,Verdana,sans-serif;
    background-color : rgba(0, 0, 0, 0.381);
}

.logo-div h1{
    font-weight : 400;
    font-size : 2.5rem;
}

.social-links {
    
    margin-top : 57.5vh;  
    display : flex;
    flex-direction : row;
    justify-content : space-around;
    align-items : center;
    color : white;
    font-family : Arial,Verdana,sans-serif;
    font-size : 1.3vh;
}

.social-links img {
    width : 2vw;
    height : 3.5vh
}

.form-container-div {
    padding-top : 18vh;
    padding-bottom : 18vh;
    padding-left : 5vh;
    padding-right : 8vw;
    font-family : 'Sofia Sans Extra Condensed', sans-serif;
    background-color : white;
}

.pThick{
    font-size : 1.4rem;
    font-weight : 600;
    letter-spacing : 0.5px;
    word-spacing : 1.2px;
} 

form {
    margin-top : 5vh;
}